.Container{
    margin: 20px auto;
    position: relative;
    width: 993px;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.FirstRow{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-bottom: 30px;
}