.recruitListItemWrapper {
    width: calc(100% -32px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 8px;
    background: white;
    margin-bottom: 20px;
}

.writeDate {
    width:280px;
    text-align: right;
}

.pointsList {
    display: flex;
    justify-content: center;
}

.commentWrap {
    display:flex;
    justify-content:center;
    padding-left:70px;
}

.Detail_submit{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    margin-top: 50px;
    margin-right: 70px;
    
}