body{
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    position: fixed;;
    height: 100px;
    padding: 1px;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px;
}
.empty{
    height: 100px;
}
li{
    list-style: none;
}
.menu>span{
    padding-left: 100px;
}
.main_content{
    padding: 1px;
    margin: 100px 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 70px;
}
.card{
    border-radius: 10px;
    background-color: lightsteelblue;
    width: 160px;
    height: 300px;
    position: relative;
    transition: 0.3s;
}
.card_button{
    border-radius: 10px 10px 0 0;    
    width: 80px;
    height: 60px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card_text{
    margin: 20px 0;
}
.card_text_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 7px;
    height: 25px;
}
.card_text_info>div:nth-child(1){
    padding-left: 10px;
}
.card_text_info>div:nth-child(2){
    padding-right: 10px;
}
.card_button:hover + .card{
    border: 1px black solid;
}
/*a{*/
/*    text-decoration-color: ;*/
/*    text-decoration-line: none;*/
/*    transition:0.3s;*/
/*    transition-timing-function: ease-in;*/
/*    transform: scaleX(0);*/
/*}*/
/*a:visited{*/
/*    text-decoration-color: ;*/
/*    text-decoration-line: ;*/
/*}*/
/*a:hover:after{*/
/*    transform: scaleX(1);*/
/*}*/