.anchor{
    text-decoration-line: none;
    color: inherit;
    font-size: 20px;
    text-decoration-color: #000000;
    transition-property: text-shadow;
    transition-duration: 0.5s;
    position: relative;
}
.anchor:after{
    position: absolute;
    content: "";
    bottom: 26px;
    height: 2px;
    left: 0;
    background-color: black;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
    width: 100%;
}
.anchor:hover{
    text-shadow:
            0.025em 0.025em 0 #C9ACFFFF,
            0.05em 0.05em 0 #8B00BDFF,
            0.075em 0.075em 0 #C51CFFFF,
            0.1em 0.1em 0 #C954FFFF;
}
.anchor:hover::after{
    transform: scaleX(0.5);
}

.logoWrapper {  
    padding-left:80px;
    padding-right:80px;
}

.logoImg {
    width: 60px;
    height: auto;
    /* padding-left: 80px;
    padding-right: 80px; */
}
.header_url{
    padding: 10px;
}
.subTitles{
    display: none;
    position: absolute;
    width: 700px;
    top: 100%;
    left: 30%;
    transform: translate(0%, -90%);
}
.NavLink:hover + .subTitles{
    /*transition: all 0.9s ease-in;*/
    display: flex;

}
.subTitles:hover{
    display: flex;
}
.NavLink{
    padding: 30px;
    font-size: 25px;
}
.NavBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.FirstNav{
    width: 80vw;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
}
.NavLinkBox{
    position: relative;
}
.SecondNav{
    display: flex;
    width: 60vw;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
}
.subTitle{
    font-size: 18px;
}