.Container{
    max-width: 1200px;
}
.Header{
    display: flex;
    justify-content: space-around;
    height: 100px;
    align-items: center;
    border-top: 2px solid black;
}
.Body{
    width: inherit;
}