

.input_style:focus ~.input_underline{
    transform: scaleX(1);
}
.input_box{
    position: relative;
}
.input_style{
    border: none;
    border-bottom: 1px #737373 solid;
    position: relative;
}
.label{
    position: absolute;
    left: 0;
    bottom: 0;
}
.input_style>.input_underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    left: 0;
    background-color: #8B00BDFF;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
    width: 100%;
}

.input_style:focus ~ .label,
.input_style:valid ~ .label{
    transform: translateY(-20px);
}
.input_style:focus{
    outline: none;
}
.boxing{
    padding: 1px;
    margin: 0 auto;
}