

.input_style:focus ~.input_underline{
    transform: scaleX(1);
}
.input_box{
    position: relative;
    height: 100px;
}
.input_style{
    border: none;
    border-bottom: 1px #737373 solid;
    position: relative;
}
.label{
    position: absolute;
    left: 0;
    top: 0;
}
.input_underline{
    position: absolute;
    top: 25px;
    height: 2px;
    left: 0;
    background-color: #8B00BDFF;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
    width: 100%;
}

.input_style:focus ~ .placeholder,
.input_style:valid ~ .placeholder{
    transform: translateY(-20px);
}
.input_style:focus{
    outline: none;
}
.boxing{
    padding: 1px;
    margin: 0 auto;
}
.placeholder{
    margin-top: 0;
    margin-bottom: 1rem;
    position: absolute;
    transform: translateY(0);
    transition-duration: 0.3s;
    transition-timing-function: ease;
    left: 0;
    top: 0;
}
