
.NavBar{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: inherit;
    height: 100px;
    position: fixed;
    z-index: 3;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 1.5px );

}
.BrandName{
    font-weight: bold;
    font-size: 36px;
    padding-left: 10px;
}
.RightSide{
    width: 200px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    padding-right: 10px;
}
.Container{
    margin: 0 auto;
    width: 80vw;
    height: 100px;
    max-width: 1200px;

}