.page{
    width: 100vw;
    height: 120vh;
}
.F1{
    width: 100%;
    height: 100%;
    background-color: #ffe2cd;
}
.F2{
    width: 100%;
    height: 100%;
    background-color: #adff5c;
}
.F3{
    width: 100%;
    height: 100%;
    background-color: #ffe2cd;
}