hr {
    width:100%;
}

.titleText {
    font-size: 20px;
    font-weight: 500;
}

.recruitListItemWrapper {
    width: calc(100% -32px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgrey;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    margin-bottom: 20px;
}

.recruitListItemWrapper:hover {
    background: lightgrey;
    
}

.tableHead {
    border-bottom: 1px solid grey;
}

.boardTitle {
    font-size: 25px;
    font-weight: 600;
    /* padding: 30px; */
    width: 500px;
}

.personCount {
    width: 100px;
    text-align: center;
    font-size: 30px;
}

.points {
    padding-top: 10px;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Nunito', sans-serif;
    font-family: 'Sunflower', sans-serif;
}

.points ul {
    list-style: none;
}

.points ul li {
    float: left;
    font-size: 19px;
    margin: 10px;
}

.startTimetd {
    width:500px;
}

.startTimeText {
    font-size: 24px;
}

.startTimeLabel {
    margin-right: 10px;
}

.feeText {
    margin-left: 30px;
    font-size: 30px;
    font-weight: 700;
}

.feeWon {
    font-size: 24px;
    font-weight: 700;
}

.recruitListWrapper {
    width: calc(100% -30px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 8px;
    /* cursor: pointer; */
    background: rgba(233, 233, 233, 0.651);
    
}

.myRecruitAppliesContainer {
    width: 600px;
    background: white;
    border: 1px solid grey;
    margin : 15px;
    padding : 10px;
}

.myRecruitAppliesLeft {
    width: 50%;
    float: left;
    box-sizing: border-box;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}

.myRecruitAppliesRight {
    width: 50%;
    float: right;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.statusWrapper {
    background-color: white;
    border: 1px solid grey;
    border-radius: 16px;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* text-align: center; */
    padding: 15px;
    margin : 10px;
}

.statusDefaultHeader {
    color : rgb(76, 81, 90);
    display: block;
}

.statusStartAgreeHeader {
    color :#85ab20;
    display: block;
}

.statusStartedHeader {
    color :#85ab20;
    display: block;
}

.statusArriveAgreeHeader {
    color :#8A2BE2;
    display: block;
}

.statusArrivedHeader {
    color :#8A2BE2;
    display: block;
}

.statusStartAgreeText {
    width: 100%;
    text-align: center;
}

.statusArriveAgreeText {
    width: 100%;
    text-align: center;
}

.statusDefaultButton {
    /* Button styling */
    width: 100%;
    background: #85ab20;
    background-clip: padding-box;
    border: 5px solid hsla(var(--text-base), 1);
    border-radius: 2em;
    margin-top: 20px;
    cursor: pointer;
    display: block;
}

.statusArriveAgreeButton {
    /* Button styling */
    width: 100%;
    background: #8A2BE2;
    background-clip: padding-box;
    color : white;
    border: 5px solid hsla(var(--text-base), 1);
    border-radius: 2em;
    margin-top: 20px;
    cursor: pointer;
    display: block;
}