.signTextInput {
    padding: 6px;
    padding-bottom: 2px;
    margin: 3px;
    margin-bottom: 8px;
    width: 300px;
    height: 50px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid grey;
}:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 3px solid #018b54;
    outline: none;
}

.signTextLabel {
    padding: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: initial;
    display: flex;
    color: rgb(216, 213, 208);
    background-color: transparent;
    outline-color: initial;
    caret-color: rgb(216, 213, 208);
}

.signPasswordInput {
    padding: 6px;
    padding-bottom: 2px;
    margin: 3px;
    margin-bottom: 8px;
    width: 300px;
    height: 50px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid grey;
}:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 3px solid #018b54;
    outline: none;
}

.signEmailInput {
    padding: 6px;
    padding-bottom: 2px;
    margin: 3px;
    margin-bottom: 8px;
    width: 300px;
    height: 50px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid grey;
}:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 3px solid #018b54;
    outline: none;
}

.signPhoneInput {
    padding: 6px;
    padding-bottom: 2px;
    margin: 3px;
    margin-bottom: 8px;
    width: 300px;
    height: 50px;
    display: flex;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 1px solid grey;
}:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom : 3px solid #018b54;
    transition: 50ms;
    outline: none;
}

.signFormWrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid grey;
}

.signFormContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.signSubmitButton {
    padding: 6px;
    padding-bottom: 2px;
    margin: 3px;
    margin-bottom: 8px;
    display: flex;
    width: 300px;
    height: 150px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #018b54;
}