*{
    box-sizing: border-box;
    margin: 0;
}
/*input 을 쓸때는 무조건 wrap 으로 감싸기 */
/*//C9ACFFFF 연분홍  C954FFFF 진분홍 C51CFFFF*/
a{
    text-decoration-line: none;
    color: inherit;
    text-decoration-color: #000000;
    transition-property: text-shadow;
    transition-duration: 0.5s;
    position: relative;

}
a:after{
    position: absolute;
    content: "";
    bottom: -3px;
    height: 2px;
    left: 0;
    background-color: black;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
    width: 100%;
}
a:hover{
    text-shadow:
            0.025em 0.025em 0 #C9ACFFFF,
            0.05em 0.05em 0 #8B00BDFF,
            0.075em 0.075em 0 #C51CFFFF,
            0.1em 0.1em 0 #C954FFFF;
}
a:hover::after{
    transform: scaleX(1);
}
input[type="search"]{
    border: none;
    border-bottom: 1px black solid;
    position: relative;
}
.search_bar{
    position: relative;
}
.underline{
    position: absolute;
    bottom: 0px;
    height: 2px;
    left: 0;
    background-color: #8B00BDFF;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scaleX(0);
    width: 100%;
}
.search_bar>label{
    position: absolute;
    left: 0;
    color: black;
    transition: all 0.2s ease;
}
input[type="search"]:focus ~.underline{
    transform: scaleX(1);
}

input[type="search"]:focus ~ label,
input[type="search"]:valid ~ label{
    transform: translateY(-20px);
}
input[type="search"]:focus{
    outline: none;
}


.Log_in:hover{
    cursor: pointer;
}
.sign_up:hover{
    cursor: pointer;
}
.empty{
    height: 100px;
}
nav{
    width: 100vw;
    padding: 40px;
    background-color: white;
    display: flex;
    position: fixed;;
    height: 100px;
    padding: 1px;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_side{
    width: 350px;
    font-size: 1.5rem;
}
.right_side{
    width: 500px;
}
.flex_r{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.inputs{
    margin-top: 200px;
    padding: 1px;
}
@media screen and (max-width: 700px) and (min-width: 500px) {
    nav{
        padding: 30px;
    }
    .login_box{
        min-width: 300px;
        height: 50vh;
    }
    .sign_box{
        min-width: 500px;
        height: 50vh;
    }
    .nav_flex{
        flex-wrap: wrap;
    }
    .left_side{
        padding: 10px;
    }
    .right_side{
        padding: 10px;
    }
    .width_80{
        width: 90%;
    }
    .submit_bt{
        margin-top: 4px;
    }
}
@media screen and (max-width: 500px){
    nav{
        padding: 0px;
    }
    .login_box{
        min-width: 300px;
        height: 50vh;
    }
    .exit{
        padding: 10px;
    }
    .sign_box{
        min-width: 100vw;
        height: 65vh;
    }
    .nav_flex{
        flex-wrap: wrap;
    }
    .left_side{
        padding: 10px;
    }
    .right_side{
        padding: 10px;
    }
    .width_80{
        width: 90%;
    }
    .submit_bt{
        margin-top: 4px;
        margin-right: 4px;
    }
}
