body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /*야놀자 글씨체*/
  /*font-family: 'Nunito', sans-serif;*/
  /*font-family: 'Sunflower', sans-serif;*/

  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'Sunflower', sans-serif;
  font-size: 25px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
